@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary : #FF4081;
  --Secondary :#070204;
  --background : #000000;
  --chat-background : #0D0609;
  --border:#92294C;
}


body {
  color: var(--primary);
  background-color: var(--background);
}
